footer {
    background: var(--color4-bg);
    color: var(--color1-txt);
}

/* 

display: grid;
grid-template-columns: repeat(4, 1fr);


*/

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    margin: auto;
    padding: 20px;
}

footer .elements {
    width: 100%;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    /*flex: content;*/
    /* background: black;*/
}

footer .elements .element {
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: auto;
    height: auto;
    width: auto;
}

footer .elements .element ul li a:hover {
    text-decoration: underline;
}

footer .elements .element .logo {
    display: flex;
    filter: invert(1) brightness(10);
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 180px;
    aspect-ratio: 2/1;
    margin: auto;
}

footer .elements .element ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .elements .element ul li {
    list-style: none;
}

footer .elements .element ul li a {
    text-decoration: none;
    color: var(--color1-txt);
    opacity: 0.6;
    line-height: 1rem;
    font-size: 1rem;
}

footer .elements .element img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .elements .element h3 {
    margin: 10px 0;
    font-size: 1rem;
    margin-bottom: 20px;
}

footer .elements .element .redes .items {
    display: flex;
    gap: 10px;
    margin-left: -15px;
}

footer .elements .element .redes a.social-network-link-component {
    width: 40px;
}

footer .otros {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 10px;
    padding-top: 30px;
    margin-top: 30px;
    /*background: blue;*/
    /*height: 50px;*/
    font-size: 1rem;
    border-top: solid 1px rgb(93, 107, 118);
    opacity: 0.6;
}

/* Adaptacion mobile */

@media (width < 900px) {
    footer .elements {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 10px;
    }
}

@media (width < 500px) {
    footer .elements {
        grid-template-columns: 1fr;
    }

    footer .elements .element {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .elements .element .redes,
    footer .elements .element ul li {
        text-align: center;
    }
}
